html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: rgb(221, 101, 101);
}
p, [for=abtype] {
	margin-bottom: 0;
	margin-top: 2rem;
	/* margin: 2rem 0 0 0;*/
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;

}
legend{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	display: block;
}
label{
	
	display: block;
	padding-bottom: 0.3rem;
}
textarea{
	height: 10rem;
	padding: 1rem;
}
select{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 2rem;
}
button {
	font-size: 1rem;
	margin: 1.5rem 0;
	background-color: rgb(53, 178, 228);
	font-weight: bold;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
button:hover {
	background-color: rgb(38, 209, 89);
	color: crimson;
}
input:not([type="radio"]):not([type="checkbox"]), textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
}






